#ignore virt envs
/EvoComp

#ignore python cache
**/__pycache__
EightQueensProject/__pycache__/EightQueensFuncts.cpython-310.pyc

#ignore Mac FS info
**/.DS_store

#ignore saved stuff (prevents git push bc too large)
**saved_models/
**saved_gas/